# Xmake cache
.xmake/
build/
data/
settings/init.json
dependencies/build/
dependencies/taglib_lib/
package/
.vscode/
# MacOS Cache
.DS_Store
# CLion cache
cmake-build-debug/
cmake-build-clion-debug/
.idea/
CMakeLists.txt.user