QPushButton {
    qproperty-iconSize: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    padding: 5;
}
QPushButton:hover {
    border: 2px solid transparent;
    background-color: lightgray;
}
