QSlider::groove:horizontal {
    border: none;
    height: 4px;
    background: #ccc; /* 背景灰色 */
}

QSlider::sub-page:horizontal {
    background: #666; /* 已播放部分颜色 */
    border-radius: 2px;
}

QSlider::add-page:horizontal {
    background: #ccc; /* 未播放部分颜色 */
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: gray; /* 拖动圆点 */
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin: -3px 0;
}

QSlider::handle:horizontal:pressed {
    background: #222;
}
