QPushButton {
    qproperty-iconSize: 12px;
    border: 2px solid transparent;
    border-radius: 8px;
    padding: 5;
    background-color: transparent;
}
QPushButton:hover {
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: lightgray;
}
